/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/08/2016, 16:08:10
    Author     : Nicolas Woitchik
*/

.row-normal
{
    background: rgb(30,86,145);
    border-radius:8px 8px 0px 0px;
}
.row-transparente
{
    background: rgba(30,86,145,0.6);
    border-radius: 0px 0px 8px 8px;
}
.div-formulario
{
    color:#FFFFFF;
}
.nao-encontrei-fundo
{
    color:#FFFFFF;
    background: url('../../images/nao-encontrei-fundo.jpg') no-repeat top center;
    min-height: 600.4px;
}
.vantagens
{
    font-size: 16px;
}